.home{
    height: 100vh;
}

.home-container{
    background-color: #c5e3f6;
    box-shadow: 0px 0px 7px 0px #c5e3f6;
    -webkit-box-shadow: 0px 0px 7px 0px #c5e3f6;
    -moz-box-shadow: 0px 0px 7px 0px #c5e3f6;
}

.home-wrapper{
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
    height: 200px;
}

.inputField{
    width:100%;
}

.btn{
    border: none;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px rgba(228, 227, 227, 0.15);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(233, 229, 229, 0.15);
    -moz-box-shadow: 0px 0px 5px 3px rgba(222, 221, 221, 0.15);
    background-color: #364f6b;
    color: white;
}
